<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/angular.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/productHandler.js" type="text/javascript"></script>
    <script src="/js/indexHandler.js" type="text/javascript"></script>
    <script src="/js/userFactory.js" type="text/javascript"></script>
    <title>
        <%= title %>
    </title>
</head>

<body ng-app="product">
    <header ng-controller="headerController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="padding-top:3px">
                        <img width="200" height="40" src="/images/logo.png" style="float:left">
                    </a>
                </div>
                <div id='navbar' class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">            
                                <li ng-repeat="category in categories">
                                        <a href="/{{category.url}}">{{category.text}}</a>
                                </li>
                            </ul>
                    <ul class="nav navbar-nav navbar-right" >
                        <li ng-repeat="url in objects">
                            <a name="wishlist" ng-if="url.type === 'wishlist'" ng-click="wishlist()" style="cursor:pointer" >{{url.text}}</a>
                            <a name="basket" ng-if="url.type === 'basket'" ng-click="basket()" style="cursor:pointer">{{url.text}}</a>
                            <a name="profile" ng-if="url.type === 'profile'" ng-click="profile()" style="cursor:pointer">{{url.text}}</a>
                            <a name="logout" ng-if="url.type === 'logout'" ng-click="logout()" style="cursor:pointer">{{url.text}}</a>         
                            <a ng-if="url.type === 'unAuth'" href='{{url.url}}' style="cursor:pointer">{{url.text}}</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id='main'>
        <div id=product class="container">

            <%if(product.variation_attributes[0]){%>
                <!--TO PREVENT EMPTY DROPDOWN LISTS-->

                <div id='image' ng-controller="colorController">
                    <img ng-src={{selectedImage}}>

                    <div id='dropdown'>
                        <select ng-change="selected()" ng-model="selectedColor" ng-options="s.name for s in colors" ng-init="selectedColor=colors[0]">{{color.name}}</select>
                    </div>

                </div>
                <%}%>

                    <div id='information'>
                        <p>
                            <%=product.name%>
                        </p>
                        <div ng-controller="priceController">
                            <p id='price'>
                                {{newPrice}}

                                <select ng-change="selected()" ng-model="selectedCurrency" ng-options="currency for currency in currencies" ng-init="selectedCurrency=currencies[0]">{{currencies}}</select>
                            </p>
                            <p>

                            </p>
                        </div>

                        <p>
                            <%=product.page_description%>
                        </p>

                    </div>

        </div>
    </div>
</body>

</html>